<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detail</title>
</head>
<body>
<h1>{{watch_id_key.title}}</h1>
<h3>____________________________________________________________________________________________________________________________________________</h3>
<img src="{{watch_id_key.image.url}}" alt="image" width="400" height="400">
<p><b>{{watch_id_key.description}}</b></p>
<h3>____________________________________________________________________________________________________________________________________________</h3>
<h2><p><b>Часы: {{watch_id_key.watch_type}}</b></p></h2>
<h2><p><b>Бренд: {{watch_id_key.watch_type2}}</b></p></h2>
<h2><p><b>Стоимость: {{watch_id_key.cost}}</b></p></h2>
<h3>Местонахождение: {{watch_id_key.watch_location}}</h3>
<p><a> href="{{watch_id_key.watch_url}}"></a></p>
</body>
</html>